# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Frontend Node modules and builds
frontend/node_modules/
frontend/dist/
backend/app/dist/

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Environment configurations (Private Keys / Secrets)
.env
.env.local
.env.*.local
config.json

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
